/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Signika:wght@300&family=Work+Sans:wght@800&display=swap');
/*ROOT*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}
:root{
    /*Fonts*/
    --font--one:'Work Sans', sans-serif;
    --font--two:'Cabin', sans-serif;
    --font--three:'Signika', sans-serif;
    /*Colors*/
    --color-one:#F2F2F2;
    --color-two:#3084F2;
    --color-three:#B6CAF2;
    --color-four:#3976F2;
    --color-five:#886FBF;
    /*FONT-COLOR*/
    --font-color:#f4f4f5;
    --font-color-2:#a1a1aa;
    --font-color-3:#27272a;
}
body{
    background-color: var(--color-one);
}
/*Section-1*/
.box-pat{
    display: flex;
    justify-content: center;
    margin: 10vh 5vh 10vh 5vh;
}
.box{
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-two);
    border:0px solid;
    border-radius: 9px;
    box-shadow: 5px 5px 50px 10px rgba(77, 77, 77, 0.281);
    flex-wrap: nowrap;
}
.box-word{
    font-family: var(--font--one);
}
.box-word>label{
    font-family: var(--font--two);
}
#font-two{
    font-family: var(--font--two);
    margin: 10px 0px;
}
.box-left{
    width: 30%;
    background-color:var(--color-three);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    border:0px solid;
    border-radius: 9px 0px 0px 9px;
}
.logo-t4xt{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #27272a;
    font-family: var(--font--one);
    font-size: 1.2rem;
}
.logo-t4xt>img{
    width: 150px;
}
.img-botis{
    width: 100%;
    display: flex;
}
.bottom-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bottom-img>img{
    width: 75%;
}
/*Box-Right*/
.box-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-one);
    border: 0px solid;
    border-radius: 0px 9px 9px 0px;
}
.box-title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: var(--font-color-3);
    font-family: var(--font--one);
    font-size: 1.2em;
}
.form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.name-last{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.name-first-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: var(--font--two);
    margin: 10px 0px 0px 0px;
}
.name-first-div>input{
    background-color: var(--color-three);
    height: 35px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
    padding: 5px 10px 5px 10px;
}
.name-first-div>input:hover{
    background-color: var(--color-four);
    border: 0px solid;
    border-radius: 7px;
    color: white;
    padding: 5px 10px 5px 10px;
}
.name-first-div>:focus{
    background-color: var(--color-four);
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-first-div>::placeholder{
    color: rgba(255, 255, 255, 0.751);
}
.name-second-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: var(--font--two);
    margin: 10px 0px;
}
.name-second-div>input{
    background-color: var(--color-three);
    border: 0px solid;
    border-radius: 7px;
    color: white;
    height: 35px;
    padding: 5px 10px 5px 10px;
}
.name-second-div>input:hover{
    background-color: var(--color-four);
    border: 0px solid;
    border-radius: 7px;
    color: white;
    padding: 5px 10px 5px 10px;
}
.name-second-div>:focus{
    background-color: var(--color-four);
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-second-div>::placeholder{
    color: rgba(255, 255, 255, 0.751);
}
.name-second-div{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.name-mid-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
}
.name-mid-div-chld{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font--two);
    margin: 0px 0px 10px 0px;
}
.name-mid-div-chld>input{
    background-color: var(--color-three);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld>input:hover{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld>:focus{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld>::placeholder{
    color: rgba(255, 255, 255, 0.751);
}
.name-mid-div-chld-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: var(--font--two);
    margin: 10px 0px;
}
.name-mid-div-chld-2>input{
    background-color: var(--font-color-3);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
    width: 24px;
    height: 24px;
}
.name-mid-div-chld-2>input:hover{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld-2>:focus{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld-3>::placeholder{
    color: rgba(255, 255, 255, 0.751);
}
.name-mid-div-chld-3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0px 5px 0px;
    align-items: center;
    justify-content: center;
}
.name-mid-div-chld-3>input{
    background-color: var(--font-color-3);
    padding: 10px 5px 10px 5px;
    margin: 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
    width: 24px;
    height: 24px;
}
.name-mid-div-chld-3>input:hover{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld-3>:focus{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld-3>::placeholder{
    color: rgba(255, 255, 255, 0.751);
}
.checksum{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 10px 0px;
}
.check{
    background-color: var(--color-three);
    padding: 10px 5px 10px 5px;
    margin: 0px 25px 0px 0px;
    border: 0px solid;
    border-radius: 7px;
    width: 100%;
    display: flex;
    color: #F2F2F2;
}
.check>input{
    background-color: var(--color-three);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.check:hover{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.check>:focus{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.check>::placeholder{
    color: rgba(255, 255, 255, 0.751);
}
.hot{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;
}
.hot>input{
    background-color: var(--color-three);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.hot>input:hover{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.hot>:focus{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.hot>::placeholder{
    color: rgba(255, 255, 255, 0.751);
}
.boxing{
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.boxing>input{
    width: 100%;
}
.name-mid-div-chld-2>textarea{
    padding: 10px 5px 10px 5px;
    color: var(--font-color);
    background-color: var(--color-three);
    border: 0px solid blue;
    border-radius: 7px;
    width: 100%;
}
.name-mid-div-chld-2>textarea:hover{
    padding: 10px 5px 10px 5px;
    background-color: var(--color-four);
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.name-mid-div-chld-2>:focus{
    background-color: var(--color-four);
    padding: 10px 5px 10px 5px;
    border: 0px solid;
    border-radius: 7px;
    color: white;
}
.button-form-box{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1em 0em 1em 0em;
}
.button-form-box>button{
    width: 50%;
    background-color: var(--color-three);
    color: var(--font-color);
    font-family: var(--font--two);
    border-radius: 7px;
    padding: 25px 15px;
}
.button-form-box>button:hover{
    background-color: var(--color-four);
    color: var(--font-color);
    font-family: var(--font--two);
    border-radius: 7px;
    padding: 25px 15px;
    color: white;
}
.button-form-box>button:focus{
    background-color: var(--color-four);
    color: var(--font-color);
    font-family: var(--font--two);
    border-radius: 7px;
    padding: 25px 15px;
    color: white;
}
.name-mid-div-chld-4{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: var(--font--two);
    margin: 10px 0px;
}

@media only screen and (max-width: 1200px) {
.box{
    flex-direction:row ;
}
.box-left{
    width: 50%;
}
.box-right{
    width: 50%;
}


}
@media only screen and (max-width: 600px) {
    .box{
        flex-direction:column ;
    }
    .box-right{
        border-radius: 0px 0px 9px 9px;
    }
    .box-left{
        border-radius: 9px 9px 0px 0px;
    }
    .logo-t4xt{
        flex-direction: column;
    }
    .form-box{
        padding: 10px 5px;
    }
    .box-left{
        width: 100%;
    }
    .box-right{
        width: 100%;
    }
    
    
    }